@font-face {
	font-family: 'Calibri';
	src: url('/accets/fonts/Calibri.eot');
	src: url('/accets/fonts/Calibri.eot?#iefix') format('embedded-opentype');
	src: url('/accets/fonts/Calibri.woff') format('woff');
	src: url('/accets/fonts/Calibri.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}